<form class="col s12" action="/book/add" method="post"  id="book">
    <div class="row">
        <div class="input-field col s6">
            <input class="validate" id="name" type="text" name="title" />
            <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
            <select name="authorId" form="book">
                {{#each author}}
                <option value={{id}}>{{name}}</option>
                {{/each}}
            </select>            
        </div>
        <div class="input-field col s6">
            <select name="genreId" form="book">
                {{#each genre}}
                <option value={{id}}>{{name}}</option>
                {{/each}}
            </select> 
        </div>

    </div>
    <button class="waves-effect waves-light btn" type="submit">Create</button>
</form>

<style>
    select{
        display: block;
    }
</style>