<form class="col s12" action="/genre/update/{{book.id}}" method="post"  id="genre">
    <div class="row">
        
        <div class="input-field col s6">
            <select name="genreId" form="genre">
                {{#each genre}}
                <option value={{id}}>{{name}}</option>
                {{/each}}
            </select>            
        </div>
        

    </div>
    <button class="waves-effect waves-light btn" type="submit">Edit</button>
</form>

<style>
    select{
        display: block;
    }
</style>